@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800|Pacifico|Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
/* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_extend.scss */
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* line 4, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 17, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 21, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

/* line 26, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 30, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  color: #1F1F1F;
}

/* line 37, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
a,
button {
  color: #1F1F1F;
  outline: medium none;
}

/* line 42, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: #1F1F1F;
}

/* line 46, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 55, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 59, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
li {
  list-style: none;
}

/* line 62, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
  font-family: 'Raleway', sans-serif;
}

/* line 71, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 77, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 82, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 87, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 92, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 97, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 102, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 107, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 113, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
h3 {
  font-size: 24px;
}

/* line 117, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.mb-65 {
  margin-bottom: 67px;
}

/* line 121, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.black-bg {
  background: #020c26 !important;
}

/* line 125, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.white-bg {
  background: #ffffff;
}

/* line 128, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.gray-bg {
  background: #f5f5f5;
}

/* line 133, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

/* line 136, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

/* line 139, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

/* line 144, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.overlay {
  position: relative;
  z-index: 0;
}

/* line 148, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #040E27;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .4;
}

/* line 160, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 164, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #131313;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

/* line 176, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 180, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.pt-120 {
  padding-top: 120px;
}

/* button style */
/* line 186, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 54px;
  left: 0px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 54px;
  font-size: 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 50px;
  font-size: 18px;
  line-height: 54px;
}

/* line 213, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 50px;
}

/* line 235, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 238, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #009DFF;
}

/* line 247, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/theme-default.scss */
.mb-20px {
  margin-bottom: 20px;
}




/* line 2, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
.section_title span {
  color: #F2C64D;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 18px;
  display: block;
  font-family: "Pacifico", cursive;
}

/* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
.section_title h3 {
  font-size: 50px;
  font-weight: 700;
  color: #1A0D01;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  /* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  /* line 28, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

@media (max-width: 767px) {
  /* line 28, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 28, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

/* line 41, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
.mb-100 {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  /* line 41, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .mb-100 {
    margin-bottom: 40px;
  }
}

/* line 47, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
.mb-80 {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  /* line 47, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .mb-80 {
    margin-bottom: 40px;
  }
}

/* line 53, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
.mb-70 {
  margin-bottom: 67px;
}

@media (max-width: 767px) {
  /* line 53, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_section_title.scss */
  .mb-70 {
    margin-bottom: 40px;
  }
}




/* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area {
    padding-top: 0;
  }
}

/* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area {
  padding: 0 150px;
}

@media (max-width: 767px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 0 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 0 10px;
  }
}

/* line 29, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  /* line 29, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 29, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 29, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  /* line 43, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 43, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 43, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 100%;
  }
}

/* line 58, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .book_room {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

/* line 64, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .book_room .socail_links ul li {
  display: inline-block;
}

/* line 67, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .book_room .socail_links ul li a {
  color: #fff;
  margin: 0 10px;
  font-size: 16px;
}

/* line 71, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .book_room .socail_links ul li a:hover {
  color: #F2C64D;
}

/* line 78, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .book_room .book_btn {
  margin-left: 15px;
}

/* line 80, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .book_room .book_btn a {
  background: transparent;
  padding: 12px 26px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #F2C64D;
  color: #F2C64D;
  border-radius: 30px;
  font-family: "Paytone One", sans-serif;
}

/* line 89, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .book_room .book_btn a:hover {
  background: #F2C64D;
  color: #fff;
  border: 1px solid #F2C64D;
}

/* line 100, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin-right: 45px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 100, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li {
    margin-right: 12px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 100, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li {
    margin-right: 15px;
  }
}

/* line 110, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 10px 0px;
  font-family: "Paytone One", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 110, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 110, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

/* line 129, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  /* line 129, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 129, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

/* line 138, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #F2C64D;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 150, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 154, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a.active {
  color: #F2C64D;
}

/* line 156, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 161, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover {
  color: #F2C64D;
}

/* line 165, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 177, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

/* line 179, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

/* line 185, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

/* line 189, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

/* line 194, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

/* line 199, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 203, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

/* line 209, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 0px 150px;
  background: #000;
}

@media (max-width: 767px) {
  /* line 209, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 209, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 209, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 0px 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 209, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 0px 20px;
  }
}

/* line 235, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}



/* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_area {
  padding-bottom: 210px;
  padding-top: 150px;
  background-image: url(../img/banner/burger_bg_1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

/* line 21, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_area .about_info p {
  font-size: 16px;
  line-height: 28px;
  font-size: 16px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 37px;
}

@media (max-width: 767px) {
  /* line 29, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area .about_info a {
    margin-bottom: 30px;
  }
}

/* line 35, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_area .about_thumb2 {
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 35, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area .about_thumb2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* line 35, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area .about_thumb2 {
    margin-bottom: 40px;
  }
}

/* line 43, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_area .about_thumb2 img {
  width: 100%;
}

/* line 47, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_area .about_thumb2 .img_1 img {
  width: 100%;
}

/* line 51, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_area .about_thumb2 .img_2 {
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  right: -30px;
  bottom: -60px;
}

@media (max-width: 767px) {
  /* line 51, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area .about_thumb2 .img_2 {
    left: auto;
    bottom: 0;
    top: auto;
    right: 0;
    text-align: right;
    bottom: -30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 51, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area .about_thumb2 .img_2 {
    left: auto;
    bottom: 0;
    top: auto;
    right: -10px;
    text-align: right;
    bottom: -30px;
  }
}

/* line 74, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_area .about_thumb2 .img_2 img {
  width: 100%;
}

@media (max-width: 767px) {
  /* line 74, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area .about_thumb2 .img_2 img {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 74, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_area .about_thumb2 .img_2 img {
    width: 50%;
  }
}

/* line 88, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_bg_1 {
  background-image: url(../img/banner/about_banner.png);
}

/* line 91, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_info_area {
  padding-left: 387px;
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 91, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_info_area {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  /* line 91, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_info_area {
    padding-left: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 91, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_info_area {
    padding-left: 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 91, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_info_area {
    padding-left: 0px;
  }
}

/* line 106, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_info_area .single_slider {
  height: 750px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  /* line 106, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_info_area .single_slider {
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 106, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_info_area .single_slider {
    height: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 106, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_info_area .single_slider {
    height: 500px;
  }
}

/* line 122, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_main_info {
  padding-top: 100px;
}

@media (max-width: 767px) {
  /* line 122, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_main_info {
    padding-top: 50px;
  }
}

/* line 127, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_main_info .single_about_info {
  margin-bottom: 43px;
}

@media (max-width: 767px) {
  /* line 127, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_main_info .single_about_info {
    margin-bottom: 30px;
  }
}

/* line 132, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_main_info .single_about_info h3 {
  font-size: 22px;
  color: #1F1F1F;
  margin-bottom: 0;
  margin-bottom: 10px;
  line-height: 32px;
}

/* line 139, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
.about_main_info .single_about_info p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #4D4D4D;
}

@media (max-width: 767px) {
  /* line 144, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_main_info .single_about_info p br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 144, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_main_info .single_about_info p br {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 144, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_main_info .single_about_info p br {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 144, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_about.scss */
  .about_main_info .single_about_info p br {
    display: none;
  }
}



/* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #F5FBFF;
  background-image: url(../img/banner/footer_bg.png);
}

/* line 8, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top {
  padding-top: 113px;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  /* line 8, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

/* line 22, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_title {
  font-size: 24px;
  font-weight: 700;
  color: #1A0D01;
  text-transform: capitalize;
  margin-bottom: 39px;
  font-family: "Montserrat", sans-serif;
}

/* line 29, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_title.pos_margin {
  margin-bottom: 34px;
}

@media (max-width: 767px) {
  /* line 29, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title.pos_margin {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  /* line 22, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

/* line 39, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .number {
  color: #F0542C;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
}

/* line 46, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 46, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

/* line 56, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* line 62, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p a {
  color: #6E6E6E;
}

/* line 64, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p a:hover {
  color: #6E6E6E;
}

/* line 70, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

/* line 76, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}

/* line 79, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #FD955D;
  border-bottom: 1px solid #FD955D;
}

/* line 85, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}

/* line 89, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #FD955D;
  border-bottom: 1px solid #FD955D;
}

/* line 93, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

/* line 101, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li {
  color: #919191;
  font-size: 13px;
  line-height: 42px;
}

/* line 105, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a {
  color: #919191;
  font-weight: 400;
}

/* line 108, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a:hover {
  color: #FD955D;
}

/* line 114, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

/* line 117, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 50px;
  background: #F5FBFF;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  border: none;
  border: 1px solid #E8E8E8;
  border-radius: 30px;
}

/* line 127, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 15px;
  color: #919191;
}

/* line 131, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input:focus {
  outline: none;
}

/* line 135, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  color: #fff;
  background: #F0542C;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 30px;
  top: 5px;
  right: 5px;
  font-size: 16px;
  font-weight: 600;
}

/* line 153, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_text {
  font-size: 16px;
  color: #6E6E6E;
  line-height: 26px;
  font-weight: 400;
}

/* line 161, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .copy-right_text {
  padding-bottom: 30px;
}

/* line 163, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .copy-right_text .footer_border {
  border-top: 1px solid #E7E4E0;
  padding-bottom: 30px;
}

/* line 167, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right {
  font-size: 15px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 767px) {
  /* line 167, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}

/* line 175, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right a {
  color: #FD955D;
}

/* line 180, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .socail_links {
  margin-top: 95px;
}

@media (max-width: 767px) {
  /* line 180, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .socail_links {
    margin-top: 30px;
  }
}

/* line 186, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .socail_links ul li {
  display: inline-block;
}

/* line 189, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .socail_links ul li a {
  font-size: 18px;
  color: #F0542C;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 10px;
  line-height: 50px !important;
  border: 1px dashed #F0542C;
}

/* line 202, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
.footer .socail_links ul li a:hover {
  color: #fff !important;
  background: #F0542C;
  border-color: transparent;
}

/* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
.breadcam_bg {
  background-image: url(../img/banner/bradcam.png);
}

/* line 4, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
.breadcam_bg_1 {
  background-image: url(../img/banner/bradcam2.png);
}

/* line 7, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
.breadcam_bg_2 {
  background-image: url(../img/banner/bradcam.png);
}

/* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
.bradcam_area {
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 215px 0 100px 0;
}

@media (max-width: 767px) {
  /* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
  .bradcam_area {
    padding: 170px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
  .bradcam_area {
    padding: 150px 0 150px 0;
  }
}

/* line 21, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
.bradcam_area h3 {
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  /* line 21, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
  .bradcam_area h3 {
    font-size: 30px;
  }
}

/* line 2, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area {
  background: #fff;
  padding: 120px 0 115px 0;
}

@media (max-width: 767px) {
  /* line 2, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
  .testimonial_area {
    padding: 50px 0;
  }
}

/* line 9, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .stars i {
  font-size: 13px;
  color: #F2C64D;
}

/* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .single_testmonial p {
  color: #040E27;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 0px;
}

@media (min-width: 320px) and (max-width: 1500px) {
  /* line 21, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
  .testimonial_area .single_testmonial p br {
    display: none;
  }
}

/* line 28, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .single_testmonial .testmonial_author {
  margin-top: 45px;
}

/* line 30, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .single_testmonial .testmonial_author .thumb {
  width: 68px;
  height: 68px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  margin: auto auto 7px auto;
}

/* line 37, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .single_testmonial .testmonial_author h4 {
  color: #040E27;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

/* line 45, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .single_testmonial .testmonial_author span {
  font-size: 14px;
  font-weight: 400;
  color: #7A838B;
}

/* line 52, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .single_testmonial .section_title h3 {
  margin-bottom: 50px;
}

/* line 57, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}

/* line 61, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 0;
}

/* line 65, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .owl-carousel .owl-nav div {
  left: 0;
  border: 1px solid #B9B5B2;
  color: #1A0D01;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  top: 20%;
}

/* line 75, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.testimonial_area .owl-carousel .owl-nav div:hover {
  background: #B9B5B2;
  color: #fff;
}

/* line 82, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_testmonial.scss */
.mb-60 {
  margin-bottom: 62px;
}


/*=================== contact banner start ====================*/
/* line 3, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-info {
  margin-bottom: 25px;
}

/* line 13, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-info__icon {
  margin-right: 20px;
}

/* line 16, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-info__icon i, .contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}

/* line 24, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}

/* line 30, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-info .media-body h3 a:hover {
  color: #ff5e13;
}

/* line 36, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-info .media-body p {
  color: #8a8a8a;
}

/*=================== contact banner end ====================*/
/*=================== contact form start ====================*/
/* line 45, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* line 53, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.form-contact label {
  font-size: 14px;
}

/* line 57, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.form-contact .form-group {
  margin-bottom: 30px;
}

/* line 61, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

/* line 69, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 74, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

/* line 80, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
}

/*=================== contact form end ====================*/
/* Contact Success and error Area css
============================================================================================ */
/* line 97, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%;
}

/* line 106, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.modal-message .modal-dialog .modal-content .modal-header {
  text-align: center;
  display: block;
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 112, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.modal-message .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 0px;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

/* line 121, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.modal-message .modal-dialog .modal-content .modal-header h2 {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

/* line 126, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.modal-message .modal-dialog .modal-content .modal-header p {
  display: block;
}

/* line 133, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-section {
  padding: 130px 0 100px;
}

@media (max-width: 991px) {
  /* line 133, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
  .contact-section {
    padding: 70px 0 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 133, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
  .contact-section {
    padding: 80px 0 50px;
  }
}

/* line 141, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-section .btn_2 {
  background-color: #191d34;
  padding: 18px 60px;
  border-radius: 50px;
  margin-top: 0;
}

/* line 146, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_contact.scss */
.contact-section .btn_2:hover {
  background-color: #ff5e13;
}


/*# sourceMappingURL=style.css.map */

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}